.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 566px;
  margin: 0 auto;
  padding: 64px;
  background-color: var(--color-background);
  border-radius: 30px;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 20px;
  right: 20px;

  background-color: transparent;
  border: none;

  transition: transform 600ms ease;

  & svg {
    stroke: var(--color-text);
  }

  &:hover {
    transform: rotate(90deg) scale(1.2);
  }
}

.title {
  align-self: start;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.text {
  line-height: 1.375;
  color: rgba(18, 20, 23, 0.8);

  margin-bottom: 40px;
}

.form {
}

.inputBox {
  position: relative;
  display: inline-block;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 18px;
  }

  &:last-of-type {
    margin-bottom: 40px;
  }
}

.input {
  line-height: 1.375;

  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 15px 17px;
  width: 100%;
  outline: none;

  transition: border-color 300ms ease;

  &:hover,
  &:focus {
    border-color: var(--color-text);
  }
}

.inputPassword {
  padding: 15px 54px 15px 17px;
}

.errorText {
  position: absolute;
  top: 100%;
  left: 10px;
  color: red;

  font-size: 12px;
}

.seePasswordBtn {
  width: 20px;
  height: 20px;

  background-color: transparent;
  border: none;

  position: absolute;
  top: 50%;
  right: 18px;
  padding: 0;
  transform: translateY(-50%);

  & svg {
    fill: none;
    stroke: var(--color-text);

    transition: transform 300ms ease;
  }

  &:hover svg,
  &:focus svg {
    transform: scale(1.1);
  }
}

.btnSubmit {
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  background-color: var(--color-basic-accent);

  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  border: none;
  outline: none;

  transition: background-color 300ms ease;

  &:hover,
  &:focus {
    background-color: var(--color-basic-second);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-grey);
  }
}
