.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 64px;
  background-color: var(--color-background);
  border-radius: 30px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
