.btn {
  display: block;
  margin: 0 auto;
  margin-top: 64px;
  border: none;
  background-color: var(--color-green-muted);
  border-radius: 12px;
  padding: 16px 48px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;

  transition: background-color 300ms ease;

  &.teacherCard {
    margin: unset;
    margin-top: 32px;
  }

  &.submitBtn {
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: var(--color-basic-second);
  }

  &:active {
    background-color: var(--color-green-muted);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-grey);
  }
}
