/* =====================================
============== Variables ===============
======================================== */

:root {
  --color-dark: #121417;
  --color-white: #fff;
  --color-off-white: #f8f8f8;
  --color-green: #38cd3e;
  --color-green-muted: #9fbaae;
  --color-green-light: #cbded3;
  --color-yellow: #ffc531;

  --color-text: var(--color-dark);
  --color-text-accent: var(--color-green);
  --color-background: var(--color-white);
  --color-background-2: var(--color-off-white);
  --color-basic-accent: var(--color-green-muted);
  --color-basic-second: var(--color-green-light);
  --color-rate: var(--color-yellow);
}

/* =====================================
================ Base ==================
======================================== */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-white);

  color: var(--color-text);
  line-height: 1.5;

  transition: all 250ms ease;

  &.noScroll {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =====================================
================ Reset =================
======================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input {
  font-family: inherit;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: var(--color-neutral-darkest);
  transition: all 5000s ease-in-out 0s;
  caret-color: var(--color-neutral-darkest);
} */

/* =====================================
============== Container ===============
======================================== */

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}
