:global(.customSelect__control) {
  max-width: 221px;
  border: none !important;
  cursor: pointer !important;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;

  min-height: unset !important;
}

:global(.customSelect__control--is-focused) {
  box-shadow: 0 0 0 1px var(--color-basic-accent) !important;
}

:global(.customSelect__value-container) {
  padding: 14px 18px !important;
}

:global(.customSelect__single-value) {
  margin: 0 !important;
  color: var(--color-text) !important;
}

:global(.customSelect__indicator-separator) {
  display: none;
}

:global(.customSelect__indicator) {
  padding: 14px 13px !important;

  & svg {
    fill: var(--color-text);

    transition: transform 300ms ease;
  }
}

:global(.customSelect__control--menu-is-open .customSelect__indicator) {
  & svg {
    transform: rotate(180deg);
  }
}

:global(.customSelect__menu) {
  border-radius: unset !important;
  box-shadow: none !important;
  margin-top: 4px !important;
  background-color: var(--color-background) !important;
  max-width: 221px;
  padding: 10px 18px;
}

:global(.customSelect__menu-list) {
  padding-top: unset !important;
  padding-bottom: unset !important;
}

:global(.customSelect__option) {
  cursor: pointer !important;

  font-weight: 500;
  font-size: 18px !important;
  line-height: 1.11;
  color: rgba(18, 20, 23, 0.2) !important;

  padding: 4px 0 !important;
}

:global(.customSelect__option--is-focused) {
  background-color: transparent !important;
  color: var(--color-text) !important;
}

:global(.customSelect__option--is-selected) {
  background-color: transparent !important;
  color: var(--color-text) !important;
}
